{% extends "global/Page.html" %}
{% load otree static %}
{% block visibletitle %}
    Информированное согласие
{% endblock %}
{% block content %}

    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">

                <div>
                    Данное исследование проводится исследователями Высшей школы экономики, Москва.



                </div>
                <div>
                    Пожалуйста, внимательно ознакомьтесь со следующей информацией:
                </div>


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Для участия в исследовании Вам должно быть больше 18 лет.
                    </li>
                    <li class="list-group-item">
                        Ваше участие является добровольным, и Вы можете выйти из исследования в любое время.
                    </li>
                    <li class="list-group-item">
                        Ваше участие в исследовании не повлечет за собой никаких финансовых затрат с Вашей стороны.
                    </li>

                    <li class="list-group-item">
                        Если Вы согласитесь участвовать в исследовании, то пожалуйста ответьте на все вопросы, содержащиеся в нем.


                    </li>
                    <li class="list-group-item">
                        Это исследование не влечет никаких физических рисков.
                        Задания не требуют ни особых физических или психологических навыков, ни каких-либо специальных знаний.
                    </li>
                    <li class="list-group-item">
                        В ходе исследования мы можем попросить Вас предоставить некоторую личную информацию: например,
                        Ваш пол, уровень образования и т.д.
                    </li>


                    <li class="list-group-item">
                        КОНФИДЕНЦИАЛЬНОСТЬ: Предоставленная Вами информация будет полностью конфиденциальна.
                        Никакая информация, идентифицирующая Вашу личность, не будет представлена в опубликованных или
                        неопубликованных работах. Данные, не позволяющие идентифицировать личность, могут быть
                        опубликованы в открытом доступе.


                    </li>
                    <li class="list-group-item">

                        Если у Вас возникают какие-либо вопросы относительно этого исследования, пишите нам по адресу:
                        <a href="mailto:fchapkovskiy@hse.ru" target="_blank"
                           rel="noopener noreferrer">fchapkovskiy@hse.ru</a>.

                    </li>

                </ul>
                <div>
                    <span class="fst-italic fw-bold">
                    Если Вы согласны с условиями данного исследования и готовы в нем участвовать, нажмите кнопку "Далее".
                    </span>
                </div>
            </div>

        </div>
    </div>
    {% next_button %}
{% endblock %}
