<div class="card my-3">

    <div class="card-body">
        <div class="card-header">Инструкции</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item  ">
                    Этап принятия решения проходит следующим образом:

                </li>
                <li class="list-group-item   ">
                    Вы объединяетесь в пару со случайно выбранным участником.
                </li>
                <li class="list-group-item   ">
                    Тот из вас, кто сделал больше заданий на этапе 1, становится <b>участником А</b>, а тот, кто сделал меньше - <b>участником Б</b>.
                    Если оба участника сделали одинаковое число заданий, то участник А выбирается случайным образом.
                </li>

                <li class="list-group-item   ">
                    Участник А получает начальную сумму  100 центов ($1,00).
                    Участник Б не получает никакой начальной суммы.


                </li>
                <li class="list-group-item  ">
                    Участник А должен принять <b>одно</b> решение относительно полученных  денег. Он может послать участнику Б из полученной суммы любое число от 0
                    до 100 центов. Это станет бонусом участника Б. Оставшаяся сумма будет бонусом участника А.
                </li>
            </ul>
        </div>
    </div>
</div>

